<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutproduit.php">
<table>
<caption>Ajouter produit</caption>
<tr>
<td>reference</td>
<td><input type="text" name="reference"></td>
</tr>
<tr>
<td>Nom</td>
<td><input type="text" name="nom"></td>
</tr>
<tr>
<td>categorie</td>
<td><input type="text" name="categorie"></td>
</tr>
<tr>
<td>prix</td>
<td><input type="number" name="prix"></td>
</tr>
<tr>
<td>description</td>
<td><input type="text" name="description"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>